

body{
	margin: 0 auto;
	text-decoration: none;
	background: url('../img/china.png') no-repeat;
	background-size: cover;
}

section{

	padding-left: 20em;
}
=================================================


		HEADER

================================================

header{
	/*text-align: center;*/
	margin: 0 auto;

}

h1{
	font-family: 'Abril Fatface', cursive;
	font-size: 3em;
	margin: 1em;
	color: white;
	text-align: center;
}

h1 img{
	height: 1.4em;
	width: auto;
	position: relative;
	margin: 0 1em 0 0;
}

=================================================

		BODY


================================================

#centerpage{
	margin: 0 auto;
	width: 100%;
	height: auto;
	text-align: center;
	}

input, button {
  outline: none;
}

input:focus {
  color: #333;
}

button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  font-family: Lato, sans-serif;
  cursor: pointer;
}


button:hover {
  color: white;
}

/*=========================================

		NEW Task
===========================================*/


/********ADD DIV********/

#add{
	margin: 0 auto;
	text-align: center;
	/*display: inline-block;*/
}


#add h3{
	width: 20em;
	margin: 8px 10px;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
	background-color: #FF8300;
	border: 1px solid #ddd;
	color: #333;
	font-weight: 500;
	font-family:'Lato', sans-serif;
	font-size: 1.5em;
	border-bottom: 2px solid #333;
  	text-transform: uppercase;

}

h3 img{
	height: 1.7em;
	width: auto;
	position: relative;
}

#add input{
	margin-left: auto;
    margin-right: auto;
    font-size: 1.1em;
    padding: 10px;
    margin-top: 0.7em;
    display: block;
    width: 15em;
    height: 1.3em;
    opacity: 0.6;
    line-height: 1.2em;
    border: 1px solid #ddd;
    border-radius: 0.4em;
    color: #888;
}


/*************DIV LIST******************/
#list h3{
	width: 20em;
	margin: 8px 10px;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
	background-color: #00FF00;
	border: 1px solid #ddd;
	color: #333;
	font-weight: 500;
	font-family:'Lato', sans-serif;
	font-size: 1.5em;
	border-bottom: 2px solid #333;
  	text-transform: uppercase;
}

li {
  overflow: hidden;
  padding: 1.2em 0;
  margin: 10px;
  height: 50%;
  border-bottom: 1px solid #eee;
  text-align: center;
  font-size: 1em;
  font-family:'Lato', sans-serif;
}

li input[type="checkbox"] {
  margin: 0 10px;
  position: relative;

}

li label {
  font-size: 1.3em;
  line-height: 2em;
  width: 15em;
  padding: 0 0 0 11px;
  color: white;
}

li   input[type="text"] {
  width: 14em;
}

li  .delete:hover {
  color: #CF2323;
}



/*************BOUGHT DIV*****************/

#bought h3{
	width: 20em;
	margin: 8px 10px;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
	background-color: #1186FF;
	border: 1px solid #ddd;
	color: #333;
	font-weight: 500;
	font-family:'Lato', sans-serif;
	font-size: 1.5em;
	border-bottom: 2px solid #333;
  	text-transform: uppercase;
}


ul li input[type=text] {
  display:none;
}

ul li.editMode input[type=text] {
  display:block;
}

ul li.editMode label {
  text-decoration: line-through; 
  color: #FF0013;
}